:host {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}