.ant-notification-notice {
  border-radius: 7px !important;
  padding: 0rem 0.5rem 0rem 0rem !important;
}

.ant-notification-notice-close {
  top: 1rem !important;
  right: 0.95rem !important;
}

.ant-notification-close-icon {
  font-size: 16px !important;
}

.ant-message-notice-content,
.ant-modal-content,
.ant-notification-notice {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 180px, rgba(0, 0, 0, 0.22) 0px 15px 24px !important;
}