* {
  // --tui-font-text: 'Comic Sans MS', cursive;
  // --tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
  // --tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
  --tui-clear-inverse: #010409 !important;
  --tui-clear-inverse-hover: #090e17 !important;

  --tui-primary: #edbcc2 !important;
  --tui-primary-hover: #e0abb1 !important;
  --tui-primary-active: #e0abb1 !important;
  --tui-primary-opaque: #ddb1b7 !important;

  --tui-link: #edbcc2 !important;
  --tui-link-hover: #e0abb1 !important;

  --tui-secondary: #e4efff !important;
  --tui-secondary-hover: #dae9ff !important;
  --tui-secondary-active: #dae9ff !important;

  --tui-error-bg: #fcefea !important;
  --tui-error-bg-hover: #f3e1da !important;
  --tui-error-fill: #fb5758 !important;

  --tui-success-bg: #e7f8ee !important;
  --tui-success-bg-hover: #f1f8f4 !important;
  --tui-success-fill: #50dc6c !important;

  --tui-info-bg: #e7effa !important;
  --tui-info-bg-hover: #d9e7fa !important;
  --tui-info-fill: #3186ea !important;


  --tui-accent: #cc0023 !important;
  --tui-accent-hover: #b9001f !important;
  --tui-accent-active: #ff385c !important;

  --tui-negative: #cc0023 !important;
  --tui-negative-hover: #b9011f !important;
  --tui-negative-active: #b9011f !important;

  --tui-error-bg: #ffe7eb !important;
  --tui-error-bg-hover: #ffdbe1 !important;

  // --tui-base-01: #010409 !important;
  // --tui-base-02: #0d1117 !important;
  // --tui-base-03: #30363d !important;
  // --tui-base-04: #161b22 !important;
  // --tui-base-05: #292f36 !important;
  // --tui-base-06: #161a20 !important;
  // --tui-base-07: #161b22 !important;
  --tui-support-5: #f0a3ad !important;

  --tui-text-01: #393939 !important;
  --tui-text-02: #7d8590 !important;
  --tui-text-03: #999fa8 !important;

}
