::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border: 16px none #ffffff;
  border-radius: 90px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: #b6b6b6;
}

::-webkit-scrollbar-track {
  background: #ededed;
  border: 0px none #ffffff;
  border-radius: 90px;
  cursor: pointer;
}

::-webkit-scrollbar-track:hover {
  background: #F2F2F2;
}

::-webkit-scrollbar-track:active {
  background: #F2F2F2;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
