.w-all {
  width: 100% !important;
}

.w-max-content {
  width: max-content;
}

.w-min-all {
  min-width: 100% !important;
}

.w-half {
  width: 50% !important;
}

.w-three-quarters {
  width: 75% !important;
}

.vh-all {
  height: 100vh !important;
}

.vw-all {
  width: 100vw !important;
}

.vw-half {
  width: 50vw !important;
}

.vw-min-all {
  min-width: 100vw !important;
}

.vw-max-all {
  max-width: 100vw !important;
}

.w-content {
  width: fit-content !important;
}

.h-content {
  height: fit-content !important;
}

.h-all {
  height: 100% !important;
}
